<section id="about-m" class="section-m">
    <div class="container">
        <div class="row  mySearchDiv">
            <label for="category">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Shop by Category:
                <div class="custom-dropdown">
                    <select [(ngModel)]="selectedCategory"  (change)="filterProductsByCategory()" id="category">
                        <option value="">All Categories</option>
                        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                    </select>
                    <span class="arrow">&#9660;</span>
                </div>
            </label>
            <div class="col">
                <input type="text" class="form-control form-control-lg col" name="search" [(ngModel)]="searchText"
                    placeholder="Search">
            </div>
            <div class="col">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" (click)="toggleSortOrder('price')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" [class]="sortIcon">
                        <!-- Use dynamic class binding for the icon based on the sortIcon value -->
                        <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z"></path>
                        <path fill-rule="evenodd"
                            d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98">
                        </path>
                        <path
                            d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293z">
                        </path>
                    </svg>
                    Sort by Price
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" (click)="toggleSortOrder('likes')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                    </svg>
                    Sort by Likes
                </button>
    
            </div>
            <div class="col">
                <button type="button" (click)="resetFilters()" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-backspace-fill" viewBox="0 0 16 16">
                        <path
                            d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z" />
                    </svg>
                    Clear filters
                </button>
            </div>
    
            <div class="row">
                <ng-container *ngFor="let item of filteredProducts | filter:searchText">
                    <div class="card col-md-3">
    
                        <img src="{{item.image}}" alt="">
                        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                            {{item.title}}
                        </h5>
                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
                            {{item.description}}</p>
                        <p><strong>Amount:</strong>{{item.price}}</p>
                        <div class="btn-group" style="margin-top: 10px;padding:10px">
                            <button (click)="likeProduct(item)" [disabled]="likedProducts.has(item.id)"
                                class="btn btn-light">
                                <i style="font-size: 30px; color: blue;" class="fas fa-thumbs-up" aria-hidden="true"></i>
                                <span class="badge bg-secondary">{{item.likes}}</span>
                            </button>
                            <button (click)="dislikeProduct(item)" [disabled]="dislikedProducts.has(item.id)"
                                class="btn btn-light">
                                <i style="font-size: 30px; color: red;" class="fa fa-thumbs-down" aria-hidden="true"></i>
                                <span class="badge bg-secondary">{{item.dislikes}}</span>
                            </button>
                        </div>
    
                        <button class="btn btn-success" (click)="addToCart(item)">Add to cart</button>
                    </div>
                </ng-container>
    
            </div>
        </div>
    </div>  
</section>
