

<section id="about-m" class="section-m">
    <section id="page-head" class="about-head">
        <h2>#Know Us</h2>
        <p>Elevate your shopping journey with us - where choice meets convenience.</p>
    </section>
    <div>
        <h2>Who We Are?</h2>
        <p>Welcome to our online haven, where passion for quality meets the ease of modern shopping. Founded with a
            commitment to redefine your retail experience, we strive to curate a diverse range of products that resonate
            with your lifestyle. Our journey is fueled by a dedication to customer satisfaction, ensuring each
            interaction is not just a transaction but a delightful engagement. From cutting-edge technology to timeless
            classics, our diverse offerings reflect our belief in providing something for everyone. Join us on this
            adventure, as we continually evolve to meet your needs and create a platform where shopping is an immersive
            and enjoyable journey.</p>
        <br>
        <abbr title="">"Our commitment is to be your trusted haven in the digital marketplace, where quality,
            convenience, and customer satisfaction converge seamlessly."</abbr>

        <br><br>

        <marquee bgcolor="#ccc" loop="-1" [scrollAmount]="5" width="100%">"Explore endlessly, shop effortlessly – your
            go-to destination for online convenience."</marquee>
    </div>

    <div class="card-container">
        <div class="card-row" *ngFor="let member of teamMembers">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="member.image" alt="Card image cap" alt="{{ member.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ member.name }}</h5>
              <p class="card-text">
                <strong>Role:</strong> {{ member.role }}<br>
                <strong>Background:</strong> {{ member.background }}<br>
                <strong>Description:</strong> {{ member.description }}
              </p>
              <div>
                <strong>LinkedIn:</strong> <a [href]="member.linkedin" target="_blank">{{ member.name }}</a><br>
                <strong>GitHub:</strong> <a [href]="member.github" target="_blank">{{ member.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</section>

